@model IEnumerable<LP.Models.ViewModels.VulneribilitiesVM>

@{
    ViewData["Title"] = "Vulnerabilities";
}


<div class="container">
    <h2 class="my-4 text-center text-uppercase font-weight-bolder">Vulnerabilities</h2>
</div>


<div class="table-responsive">
    <table id="vulnerabilitiesTable" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Vulnerability Name</th>
                <th>Domain Name</th>
                <th>Vulnerability Description</th>
                <th>Vulnerability Path</th>
                <th>Severity Ranking</th>
                <th>Remediation Info</th>
                <th>Domain IpAddress</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vulnerability in Model)
            {
                <tr>
                    <td>@vulnerability.VulnerabilityName</td>
                    <td>@vulnerability.DomainName</td>
                    <td>@vulnerability.VulnerabilityDescription</td>
                    <td>@vulnerability.VulnerabilityPath</td>
                    <td class="severity-cell" data-severity="@vulnerability.SeverityRanking">@vulnerability.SeverityRanking</td>
                    <td>@vulnerability.RemediationInfo</td>
                    <td>@vulnerability.DomainIpAddress</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.severity-cell').each(function () {
                var severity = $(this).data('severity');
                var color = getSeverityColor(severity);
                $(this).css('background-color', color);
            });

            function getSeverityColor(severityRanking) {
                if (severityRanking <= 4) {
                    return '#d1ffdf';
                } else if (severityRanking > 4 && severityRanking <= 6) {
                    return '#fffdcc';
                } else {
                    return '#fcb6b1';
                }
            }
        });
    </script>
}
